body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    
}

header {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

header h1 {
    width: 100%;
}

nav {
    width: 1000px;
    text-align: center;
    
}

nav #profiles {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    color: #5c4747;
    text-align: center;
    margin-bottom: 32px;
    padding-inline-start: 0px;
}

nav img{
    border-radius: 8px;
    height: auto;
    width: 200px;
}

nav button {
    padding: 8px 32px;
    border-radius: 4px;
    background-color: black;
    border: 1px solid white;
    color: white;

}

nav #profiles li {
    color: #808080;
    width: 20%;
}

nav #profiles li:hover img{
    scale: 1.5;
    margin-bottom: 32px;
    transform:
    perspective(800px)
    rotateY(-8deg) scale(0.9)
    rotateX(5deg);
    border: 1px solid white;
    transition: width 0.2s;
}

nav #profiles li:hover p {
    color: white;
}

nav #profiles li:hover {
    transform:
    perspective(800px)
    rotateY(-8deg) scale(0.9)
    rotateX(5deg);
    cursor: pointer;
}

nav button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}